- let backupNum

each document in documents
    - backupNum = document.id
    .signature-wrap 
        .signature 
            .signature-info 
                span.signature-info__filename #{document.docuName}.pdf 
                span.signature-info__date #{document.createdAt} 
                span.signature-info__hash= document.hashFile.slice(0,30)+"..."
            .signature-icon 

                - let peopleNum = 0
                - const people = ["갑", "을", "병", "정"]

                //- 계약자 추가시 아이콘 추가
                each docuSignature in docuSignatures
                    if backupNum == docuSignature.DocumentId
                        if docuSignature.isSigned == 0
                            .signature-icon__wrap
                                .signature-icon__confirm
                                    span= people[peopleNum]
                                    span 인증예정
                        else 
                            .signature-icon__wrap
                                .signature-icon__confirm 
                                    span= people[peopleNum]
                                    span 인증완료
                        - peopleNum += 1
                    else 
                        - continue

            .signature-btn 
                button 
                    a(href="") 인증하기